<footer class="p-d-flex align-items-center footer">
    <div class="social-media">
      <div class="m-1">
        <strong>Daniel Lincoln</strong> Dev Java Full Stack
      </div>
      <div class="m-1">
        <a [href]="github" class="mr-3" title="Github" target="_blank">
          <i class="pi pi-github"></i>
        </a>
      </div>
      <div class="m-1">
        <a [href]="linkedin" class="mr-3" title="LinkedIn" target="_blank">
          <i class="pi pi-linkedin"></i>
        </a>
      </div>
    </div>
  </footer>
  