<div>
  <p-toolbar styleClass="mb-4 gap-2">

    <!--Botões de Criar e Deletar-->

    <ng-template pTemplate="left">
      <div style="margin: 5px;">
        <app-button label="Novo" icon="pi pi-plus" (click)="abrirFormulario()">
        </app-button>
      </div>

      <app-button label="Deletar" icon="pi pi-trash" severity="danger" (click)="deletarItensSelecionados()"
        [disabled]="!itensSelecionados || !itensSelecionados.length">
      </app-button>

    </ng-template>

  </p-toolbar>

  <p-table #tabela [value]="diretorios" [rows]="10" [paginator]="true" [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="itensSelecionados" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas" [showCurrentPageReport]="true"
    [globalFilterFields]="[ 'nome', 'diretorios.nome']">

    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="mb-3">Gerenciamento de Diretórios</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="applyFilterGlobal($event)" placeholder="Buscar..." />
        </span>
      </div>
    </ng-template>

    <!--Header Table-->

    <ng-template pTemplate="header">
      <tr>
        <th style="width:2rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th style="width: 2rem;" pSortableColumn="id">ID<p-sortIcon field="id"></p-sortIcon></th>
        <th style="width: 2rem;" pSortableColumn="nome">Nome<p-sortIcon field="nome"></p-sortIcon></th>
        <th style="width: 2rem;">Opções</th>
      </tr>
    </ng-template>

    <!--Body Table-->
    <ng-template pTemplate="body" let-diretorio>
      <tr>
        <td>
          <p-tableCheckbox [value]="diretorio"></p-tableCheckbox>
        </td>
        <td>{{ diretorio.id }}</td>
        <td>{{ diretorio.nome }}</td>
        <td>
          <app-button severity="success" icon="pi pi-pencil" [text]="true" (click)="editar(diretorio)">
          </app-button>
          <app-button icon="pi pi-trash" severity="danger" [text]="true" (click)="deletar(diretorio)">
          </app-button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">Total de {{ diretorios ? diretorios.length : 0 }}
        diretórios.</div>
    </ng-template>
  </p-table>
</div>